doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    title simplyEvil
  body
    #app
    script(src="app.js")
    script.
      (function(root) {
        var el = document.getElementById('app')
        var message = 'Hello Pick 9'
        root.Pick9.start({el: el, message: message})
      })(window)